#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: gainsboro;
    height: auto;
    width: 800px;
    width: auto;
}

#kobe {
    color: blueviolet;
}

#bryant {
    color: lightyellow;
}

#title{
  font-family: fantasy;
  font-size: 75px;
}

#title-word {
    font-family: monospace;
    text-align: center;
    font-size: 15px;
}

#img-div {
    height: auto;
    width: auto;
}


#img-caption {
    font-family: monospace;
    color: red;
}